.card-wrapper {
  list-style-type: none;
}

.card {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 10px;
  box-shadow: 5px 5px 0px #D2D2F9;
  border: 1px solid #000000;
  border-radius: 4px;
  height: 50px;
  width: 300px;
  padding: 5px 10px 5px 10px;
  opacity: 1;
  transform: translateY(0%);
  transition: opacity, transform, .5s ease-in-out;
}

.card_inactive {
  opacity: 0;
  transform: translateY(50%);
}
