.card {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 10px;
  box-shadow: 5px 5px 0px #D2D2F9;
  border: 1px solid #000000;
  border-radius: 4px;
  height: 50px;
  width: 300px;
  padding: 5px 10px 5px 10px;
  animation: showCard .3s linear;
}

.card_inactive {
  opacity: .2;
  transform: translateY(100%);
}

.card_active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity, transform .3s linear;
}

@keyframes showCard {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}
