#root {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.users-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: row;
  place-content: center;
  row-gap: 30px;
  width: 400px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .users-block {
    width: 200px;
  }
}
